@media all and (max-width: 850px)
    body
        #root
            .row
                .container
                    flex-direction column
                    justify-content flex-start
                    align-items center
